<h1>Listing Movies</h1>
<ul>
  <% @movies.each do |movie| %>
 <div>
    <div>
      <div>
        <img src="<%= movie.image_url %>" alt="<%= movie.title %>">
      </div>
      <li class="list-group-item"><strong><%= movie.title %></strong></li>
      <li class="list-group-item"><em><p>Summary:</p><%= movie.summary %></em></li>
    <div>
      <div><%= link_to "Details", movie_path(movie), class: 'btn btn-primary' %></div>
  <% end %>
  </div>
</ul>


<div class="text-center">
  <%= link_to "Mes Likes", likes_path, class: "btn btn-primary" %>
</div>
