<h1><%= @movie.title %></h1>

<ul>
  <li>
        <%= cl_image_tag @movie.photo.key, height: 300, width: 400, crop: :fill %>
  </li>
  <li class="list-group-item mb-4">
    <em><p>Summary:</p><%= @movie.summary %></em>
  </li>
  <li class="list-group-item mb-4">
    <em><p>Director:</p><%= @movie.director %></em>
  </li>
  <li class="list-group-item mb-4">
    <em><p>Actors:</p><%= @movie.actors %></em>
  </li>
</ul>

<div>
  <div><%= link_to "Back", movies_path, class: 'btn btn-primary' %></div>
  <div>
     <%= button_to "Like", movie_likes_path(@movie), method: :post, class: 'btn btn-primary', params: { movie_id: @movie.id } %>
  </div>
</div>
